<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title},~{::style},~{})">
    <title>我的消息</title>
    <style type="text/css">
        .main {
            margin-top: 70px;
        }
    </style>
</head>

<body>
<nav th:replace="fragments :: navigator"></nav>

<div class="container main" >
    <div class="row">
        <div class="col-sm-4  ">
            <p><a th:href="@{/message}">收信<span class="glyphicon glyphicon-envelope"></span></a></p>
            <p><a th:href="@{/message/writing}">写信<span class="glyphicon glyphicon-pencil"></span></a></p>
         </div>
         <div class="col-sm-8">
             <div class="thumbnail">
          <img src="img/envolope.PNG">
        <div class="caption">
            <h3>你还未收到私信</h3>
            <p>
                <a th:href="@{/message/writing}" class="btn btn-primary" role="button">
                    马上写信
                </a>
        </div>
         </div>
         </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>
