<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title},~{},~{})">
    <title>添加课程</title>
</head>

<body>
<nav th:replace="fragments :: navigator"></nav>

<div class="container layout layout-margin-top">
    <form class="form-horizontal" action="/courses/add" method="post">
        <div class="form-group">
            <label class="col-md-2 control-label">课程名称</label>
            <div class="col-md-10">
                <input type="text" name="name" min="5" max="100" class="form-control" placeholder="至少输入5个字"
                       value="">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">课程描述</label>
            <div class="col-md-10">
                <textarea name="description" rows="20" cols="120"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">课程logo</label>
            <div class="col-md-10">
                <input type="file" multiple name="icon">
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-md-2 control-label">上传课件</label>-->
            <!--<div class="col-md-10">-->
                <!--<input type="file" multiple name="coursewares">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="col-md-2 control-label">上传课程</label>-->
            <!--<div class="col-md-10">-->
                <!--<input type="file" multiple name="courseItems">-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <div class="input-group-sm col-md-4 col-md-offset-2 col-xs-12 ">
                <button type="submit" class="btn btn-primary btn-block">添加</button>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>
