<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head(~{::title},~{},~{})">
    <title>添加课程</title>
</head>

<body>
<nav th:replace="fragments :: navigator"></nav>

<div class="container layout layout-margin-top">
    <div class="row">
        <div class="col-md-9 layout-body">
            <div class="content course-infobox">
                <div class="clearfix course-infobox-header">
                    <h4 class="pull-left course-infobox-title">
                        <span th:text="${course.name}"></span>
                    </h4>
                    <div class="pull-right course-infobox-follow"
                         data-follow-url="/courses/1/follow"
                         data-unfollow-url="/courses/1/unfollow">
                        <span class="course-infobox-followers" th:text="${course.students.size()}"></span>
                        <span>人在学习</span>
                        <i class="fa fa-star-o" data-next="/login?next=%2Fcourses%2F1"></i>
                    </div>
                </div>
                <div class="clearfix course-infobox-body">
                    <div class="course-infobox-content">
                        <p th:text="${course.description}"></p>
                    </div>

                    <div class="pull-right course-infobox-price">
                    </div>
                </div>
            </div>

            <div sec:authorize="hasRole('TEACHER')">
                <form th:action="'/courses/addcourseitem/' + ${course.id}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-md-2 control-label">上传课程：</label>
                        <input type="file" name="file"/>
                    </div>
                    <div class="form-group">
                        <div class="input-group-sm col-md-4 col-md-offset-0 col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block">上传</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="content">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#labs" aria-controls="labs" role="tab" data-toggle="tab">课程列表</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="labs">
                        <div class="lab-item" th:each="item:${course.courseItems}" th:object="item">
                            <div class="lab-item-status">
                                <img src="../img/lab-not-ok.png">
                            </div>
                            <div class="lab-item-index" th:text="*{item.id}"></div>
                            <a th:href="'/courses/learn/' + *{item.id}">
                                <div class="lab-item-title" data-toggle="tooltip" data-placement="bottom"
                                     th:title="*{item.name}" th:text="*{item.name}">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 layout-side">
            <div class="side-image side-image-pc">
                <img th:src="${course.icon}">
            </div>
            <div sec:authorize="hasRole('TEACHER')">
                <form th:action="'/courses/editicon/' + ${course.id}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-md-2 control-label">修改课程简介图：</label>
                        <input type="file" name="icon"/>
                    </div>
                    <div class="form-group">
                        <div class="input-group-sm col-md-4 col-md-offset-0 col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block">确定</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="sidebox mooc-teacher" th:object="${course.teacher}">
                <div class="sidebox-header mooc-header">
                    <h4 class="sidebox-title">课程教师</h4>
                </div>
                <div class="sidebox-body mooc-content">
                    <a th:href="'/user/' + *{id}" target="_blank">
                        <img th:href="*{headIcon}">
                    </a>
                    <div class="mooc-info">
                        <div class="name"><strong th:text="*{username}"></strong></div>
                        <div class="courses">共发布过<strong th:text="*{openCourses.size()}"></strong>门课程</div>
                    </div>
                </div>
                <div class="sidebox-footer mooc-footer">
                    <a th:href="'/user/' + *{id}" target="_blank">查看老师的所有课程 ></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/app/dest/lib/lib.js?=2016121272249"></script>
<script src="/static/jquery/2.2.4/jquery.min.js"></script>
<script src="/static/ace/1.2.5/ace.js"></script>
<script src="/static/aliyun/aliyun-oss-sdk-4.3.0.min.js"></script>
<script src="/static/highlight.js/9.8.0/highlight.min.js"></script>
<script src="/static/jspdf/1.2.61/jspdf.min.js"></script>
<script src="/static/plupload/2.1.9/js/plupload.full.min.js"></script>
<script src="/static/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script src="/static/videojs/video.min.js"></script>
<script src="/static/bootstrap-tour/0.11.0/js/bootstrap-tour.min.js"></script>
<script src="/static/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="/static/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/bootstrap-table/1.11.0/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="/static/ravenjs/3.7.0/raven.min.js"></script>
<script>
    Raven.config('https://bc3878b7ed0a4468a65390bd79e6e73f@sentry.xxxxxx.com/5', {
        release: '3.12.13'
    }).install();
</script>

<div th:replace="fragments :: footer"></div>
</body>
</html>
